ex3/ex3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="names">
        <xs:complexType>
            <xs:sequence minOccurs="1" maxOccurs="1">
                <xs:element name="name" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="maxMembers" type="xs:integer"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
