ex1/ex1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="RESULT">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="MALE" type="xs:double"/>
                <xs:element name="FEMALE" type="xs:double"/>
                <xs:element name="OTHER" type="xs:double"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>
</xs:schema>
